/*
 * Override antd classes
 */

.ant-popover-arrow {
  display: none !important;
}

.ant-select-arrow {
  margin-top: 0 !important;
}

.ant-switch-checked {
  background-color: $brand-primary;
}

.btn {
  cursor: pointer;
}

.ant-btn {
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(51, 153, 204, 0.25) !important;
  }

  &-default {
    &:hover, 
    &:focus {
      color: #292b2c !important;
      background-color: #e6e6e6 !important;
      border-color: #adadad !important;
    }
  }
}

.ant-input-search:not(.ant-input-search-small) > .ant-input-suffix {
  right: 22px !important;
}
