@-webkit-keyframes Tile {
	0% {
    background-position: 0% 25%
	}
	35% {
    background-position: 25% 45%
	}
	75% {
		background-position: 100% 45%
	}
	100% {
		background-position: 0% 25%
	}
}

@-moz-keyframes Tile {
	0% {
		background-position: 0% 25%
	}
	35% {
    background-position: 25% 45%
	}
	75% {
		background-position: 100% 45%
	}
	100% {
		background-position: 0% 25%
	}
}

@keyframes Tile {
	0% {
		background-position: 0% 25%
	}
	35% {
    background-position: 25% 45%
	}
	75% {
		background-position: 100% 45%
	}
	100% {
		background-position: 0% 25%
	}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.bg-img {
  background-image: linear-gradient(-7deg,#6187ad,#557798,#506f8e,#4e6d8c,#3a5877,#192734,#16232f,#192734,#3a5877,#4e6d8c,#506f8e,#557798,#6187ad);
  background-size: 400% 400%;
  height: 100%;
  width: 100%;
	-webkit-animation: Gradient 13s ease infinite;
	-moz-animation: Gradient 13s ease infinite;
	animation: Gradient 13s ease infinite;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('https://d28h61i1564zn0.cloudfront.net/bg-tile-trans.svg') repeat;
    background-size: 650px 650px;
    opacity: 0.075;

	-webkit-animation: Tile 100s ease infinite;
	-moz-animation: Tile 100s ease infinite;
	animation: Tile 100s ease infinite;
  }
}
