// dropdowns
.dropdown-menu {
  padding: $dropdown-padding;

  > li > a {
    padding: $dropdown-anchor-padding;
  }
}

.ant-select-selection__placeholder, .ant-select-search__field__placeholder, .Select-placeholder {
  color: rgba(0,0,0,0.6) !important;
}