.itemSelector {
  padding:1px;
  overflow-y: auto;
  border-bottom: none;
  max-height: 400px;
}

.itemSelector__item {
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  cursor: pointer;
}

.itemSelector__item:hover {
  color: #3399cc;
  background-color: rgb(247,252,255);
}

.itemSelector__item.active {
  color: #3399cc;
  background-color: rgb(247,252,255);
  border: solid 1px rgba(0,0,0,0.125);
}