.vjs-rank-cell {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,0.125), 0 -1px 0 rgba(255,255,255,0.125), 1px 0 0 rgba(255,255,255,0.125), -1px 0 0 rgba(255,255,255,0.125);
}

.vjs-rank-cell-100 { background-color: rgb(241,103,96); border-top: 1px solid darken(rgb(241,103,96), 6%) !important; }
.vjs-rank-cell-99 { background-color: rgb(241,108,89); border-top: 1px solid darken(rgb(241,108,89), 6%) !important; }
.vjs-rank-cell-98 { background-color: rgb(242,113,83); border-top: 1px solid darken(rgb(242,113,83), 6%) !important; }
.vjs-rank-cell-97 { background-color: rgb(243,118,76); border-top: 1px solid darken(rgb(243,118,76), 6%) !important; }
.vjs-rank-cell-96 { background-color: rgb(244,123,70); border-top: 1px solid darken(rgb(244,123,70), 6%) !important; }
.vjs-rank-cell-95 { background-color: rgb(245,128,64); border-top: 1px solid darken(rgb(245,128,64), 6%) !important; }
.vjs-rank-cell-94 { background-color: rgb(246,133,57); border-top: 1px solid darken(rgb(246,133,57), 6%) !important; }
.vjs-rank-cell-93 { background-color: rgb(247,138,51); border-top: 1px solid darken(rgb(247,138,51), 6%) !important; }
.vjs-rank-cell-92 { background-color: rgb(248,143,44); border-top: 1px solid darken(rgb(248,143,44), 6%) !important; }
.vjs-rank-cell-91 { background-color: rgb(249,148,38); border-top: 1px solid darken(rgb(249,148,38), 6%) !important; }
.vjs-rank-cell-90 { background-color: rgb(250,153,32); border-top: 1px solid darken(rgb(250,153,32), 6%) !important; }
.vjs-rank-cell-89 { background-color: rgb(251,158,25); border-top: 1px solid darken(rgb(251,158,25), 6%) !important; }
.vjs-rank-cell-88 { background-color: rgb(252,163,19); border-top: 1px solid darken(rgb(252,163,19), 6%) !important; }
.vjs-rank-cell-87 { background-color: rgb(253,168,12); border-top: 1px solid darken(rgb(253,168,12), 6%) !important; }
.vjs-rank-cell-86 { background-color: rgb(254,173,6); border-top: 1px solid darken(rgb(254,173,6), 6%) !important; }
.vjs-rank-cell-85 { background-color: rgb(255,178,0); border-top: 1px solid darken(rgb(255,178,0), 6%) !important; }
.vjs-rank-cell-84 { background-color: rgb(255,180,0); border-top: 1px solid darken(rgb(255,180,0), 6%) !important; }
.vjs-rank-cell-83 { background-color: rgb(255,182,0); border-top: 1px solid darken(rgb(255,182,0), 6%) !important; }
.vjs-rank-cell-82 { background-color: rgb(255,184,0); border-top: 1px solid darken(rgb(255,184,0), 6%) !important; }
.vjs-rank-cell-81 { background-color: rgb(255,186,0); border-top: 1px solid darken(rgb(255,186,0), 6%) !important; }
.vjs-rank-cell-80 { background-color: rgb(255,188,0); border-top: 1px solid darken(rgb(255,188,0), 6%) !important; }
.vjs-rank-cell-79 { background-color: rgb(255,190,0); border-top: 1px solid darken(rgb(255,190,0), 6%) !important; }
.vjs-rank-cell-78 { background-color: rgb(255,192,0); border-top: 1px solid darken(rgb(255,192,0), 6%) !important; }
.vjs-rank-cell-77 { background-color: rgb(255,194,0); border-top: 1px solid darken(rgb(255,194,0), 6%) !important; }
.vjs-rank-cell-76 { background-color: rgb(255,196,0); border-top: 1px solid darken(rgb(255,196,0), 6%) !important; }
.vjs-rank-cell-75 { background-color: rgb(255,198,0); border-top: 1px solid darken(rgb(255,198,0), 6%) !important; }
.vjs-rank-cell-74 { background-color: rgb(255,200,0); border-top: 1px solid darken(rgb(255,200,0), 6%) !important; }
.vjs-rank-cell-73 { background-color: rgb(255,202,0); border-top: 1px solid darken(rgb(255,202,0), 6%) !important; }
.vjs-rank-cell-72 { background-color: rgb(255,204,0); border-top: 1px solid darken(rgb(255,204,0), 6%) !important; }
.vjs-rank-cell-71 { background-color: rgb(255,206,0); border-top: 1px solid darken(rgb(255,206,0), 6%) !important; }
.vjs-rank-cell-70 { background-color: rgb(255,208,0); border-top: 1px solid darken(rgb(255,208,0), 6%) !important; }
.vjs-rank-cell-69 { background-color: rgb(255,210,0); border-top: 1px solid darken(rgb(255,210,0), 6%) !important; }
.vjs-rank-cell-68 { background-color: rgb(255,212,0); border-top: 1px solid darken(rgb(255,212,0), 6%) !important; }
.vjs-rank-cell-67 { background-color: rgb(255,214,0); border-top: 1px solid darken(rgb(255,214,0), 6%) !important; }
.vjs-rank-cell-66 { background-color: rgb(255,216,0); border-top: 1px solid darken(rgb(255,216,0), 6%) !important; }
.vjs-rank-cell-65 { background-color: rgb(255,218,0); border-top: 1px solid darken(rgb(255,218,0), 6%) !important; }
.vjs-rank-cell-64 { background-color: rgb(255,220,0); border-top: 1px solid darken(rgb(255,220,0), 6%) !important; }
.vjs-rank-cell-63 { background-color: rgb(255,222,0); border-top: 1px solid darken(rgb(255,222,0), 6%) !important; }
.vjs-rank-cell-62 { background-color: rgb(255,224,0); border-top: 1px solid darken(rgb(255,224,0), 6%) !important; }
.vjs-rank-cell-61 { background-color: rgb(254,226,0); border-top: 1px solid darken(rgb(254,226,0), 6%) !important; }
.vjs-rank-cell-60 { background-color: rgb(255,229,0); border-top: 1px solid darken(rgb(255,229,0), 6%) !important; }
.vjs-rank-cell-59 { background-color: rgb(254,230,14); border-top: 1px solid darken(rgb(254,230,14), 6%) !important; }
.vjs-rank-cell-58 { background-color: rgb(253,232,29); border-top: 1px solid darken(rgb(253,232,29), 6%) !important; }
.vjs-rank-cell-57 { background-color: rgb(253,233,44); border-top: 1px solid darken(rgb(253,233,44), 6%) !important; }
.vjs-rank-cell-56 { background-color: rgb(252,235,59); border-top: 1px solid darken(rgb(252,235,59), 6%) !important; }
.vjs-rank-cell-55 { background-color: rgb(252,237,74); border-top: 1px solid darken(rgb(252,237,74), 6%) !important; }
.vjs-rank-cell-54 { background-color: rgb(251,238,89); border-top: 1px solid darken(rgb(251,238,89), 6%) !important; }
.vjs-rank-cell-53 { background-color: rgb(250,240,104); border-top: 1px solid darken(rgb(250,240,104), 6%) !important; }
.vjs-rank-cell-52 { background-color: rgb(250,241,119); border-top: 1px solid darken(rgb(250,241,119), 6%) !important; }
.vjs-rank-cell-51 { background-color: rgb(249,243,134); border-top: 1px solid darken(rgb(249,243,134), 6%) !important; }
.vjs-rank-cell-50 { background-color: rgb(249,245,149); border-top: 1px solid darken(rgb(249,245,149), 6%) !important; }
.vjs-rank-cell-49 { background-color: rgb(247,245,146); border-top: 1px solid darken(rgb(247,245,146), 6%) !important; }
.vjs-rank-cell-48 { background-color: rgb(246,245,143); border-top: 1px solid darken(rgb(246,245,143), 6%) !important; }
.vjs-rank-cell-47 { background-color: rgb(244,245,140); border-top: 1px solid darken(rgb(244,245,140), 6%) !important; }
.vjs-rank-cell-46 { background-color: rgb(243,246,138); border-top: 1px solid darken(rgb(243,246,138), 6%) !important; }
.vjs-rank-cell-45 { background-color: rgb(242,246,135); border-top: 1px solid darken(rgb(242,246,135), 6%) !important; }
.vjs-rank-cell-44 { background-color: rgb(240,246,132); border-top: 1px solid darken(rgb(240,246,132), 6%) !important; }
.vjs-rank-cell-43 { background-color: rgb(239,246,129); border-top: 1px solid darken(rgb(239,246,129), 6%) !important; }
.vjs-rank-cell-42 { background-color: rgb(237,247,127); border-top: 1px solid darken(rgb(237,247,127), 6%) !important; }
.vjs-rank-cell-41 { background-color: rgb(236,247,124); border-top: 1px solid darken(rgb(236,247,124), 6%) !important; }
.vjs-rank-cell-40 { background-color: rgb(235,247,121); border-top: 1px solid darken(rgb(235,247,121), 6%) !important; }
.vjs-rank-cell-39 { background-color: rgb(233,248,119); border-top: 1px solid darken(rgb(233,248,119), 6%) !important; }
.vjs-rank-cell-38 { background-color: rgb(232,248,116); border-top: 1px solid darken(rgb(232,248,116), 6%) !important; }
.vjs-rank-cell-37 { background-color: rgb(230,248,113); border-top: 1px solid darken(rgb(230,248,113), 6%) !important; }
.vjs-rank-cell-36 { background-color: rgb(229,248,110); border-top: 1px solid darken(rgb(229,248,110), 6%) !important; }
.vjs-rank-cell-35 { background-color: rgb(228,249,108); border-top: 1px solid darken(rgb(228,249,108), 6%) !important; }
.vjs-rank-cell-34 { background-color: rgb(226,249,105); border-top: 1px solid darken(rgb(226,249,105), 6%) !important; }
.vjs-rank-cell-33 { background-color: rgb(225,249,102); border-top: 1px solid darken(rgb(225,249,102), 6%) !important; }
.vjs-rank-cell-32 { background-color: rgb(223,250,100); border-top: 1px solid darken(rgb(223,250,100), 6%) !important; }
.vjs-rank-cell-31 { background-color: rgb(222,250,97); border-top: 1px solid darken(rgb(222,250,97), 6%) !important; }
.vjs-rank-cell-30 { background-color: rgb(221,250,94); border-top: 1px solid darken(rgb(221,250,94), 6%) !important; }
.vjs-rank-cell-29 { background-color: rgb(219,250,91); border-top: 1px solid darken(rgb(219,250,91), 6%) !important; }
.vjs-rank-cell-28 { background-color: rgb(218,251,89); border-top: 1px solid darken(rgb(218,251,89), 6%) !important; }
.vjs-rank-cell-27 { background-color: rgb(216,251,86); border-top: 1px solid darken(rgb(216,251,86), 6%) !important; }
.vjs-rank-cell-26 { background-color: rgb(215,251,83); border-top: 1px solid darken(rgb(215,251,83), 6%) !important; }
.vjs-rank-cell-25 { background-color: rgb(214,252,81); border-top: 1px solid darken(rgb(214,252,81), 6%) !important; }
.vjs-rank-cell-24 { background-color: rgb(211,251,82); border-top: 1px solid darken(rgb(211,251,82), 6%) !important; }
.vjs-rank-cell-23 { background-color: rgb(209,251,83); border-top: 1px solid darken(rgb(209,251,83), 6%) !important; }
.vjs-rank-cell-22 { background-color: rgb(207,251,84); border-top: 1px solid darken(rgb(207,251,84), 6%) !important; }
.vjs-rank-cell-21 { background-color: rgb(204,251,85); border-top: 1px solid darken(rgb(204,251,85), 6%) !important; }
.vjs-rank-cell-20 { background-color: rgb(202,251,87); border-top: 1px solid darken(rgb(202,251,87), 6%) !important; }
.vjs-rank-cell-19 { background-color: rgb(200,250,88); border-top: 1px solid darken(rgb(200,250,88), 6%) !important; }
.vjs-rank-cell-18 { background-color: rgb(197,250,89); border-top: 1px solid darken(rgb(197,250,89), 6%) !important; }
.vjs-rank-cell-17 { background-color: rgb(195,250,90); border-top: 1px solid darken(rgb(195,250,90), 6%) !important; }
.vjs-rank-cell-16 { background-color: rgb(193,250,91); border-top: 1px solid darken(rgb(193,250,91), 6%) !important; }
.vjs-rank-cell-15 { background-color: rgb(190,250,93); border-top: 1px solid darken(rgb(190,250,93), 6%) !important; }
.vjs-rank-cell-14 { background-color: rgb(188,249,94); border-top: 1px solid darken(rgb(188,249,94), 6%) !important; }
.vjs-rank-cell-13 { background-color: rgb(186,249,95); border-top: 1px solid darken(rgb(186,249,95), 6%) !important; }
.vjs-rank-cell-12 { background-color: rgb(183,249,96); border-top: 1px solid darken(rgb(183,249,96), 6%) !important; }
.vjs-rank-cell-11 { background-color: rgb(181,249,97); border-top: 1px solid darken(rgb(181,249,97), 6%) !important; }
.vjs-rank-cell-10 { background-color: rgb(179,249,99); border-top: 1px solid darken(rgb(179,249,99), 6%) !important; }
.vjs-rank-cell-9 { background-color: rgb(176,248,100); border-top: 1px solid darken(rgb(176,248,100), 6%) !important; }
.vjs-rank-cell-8 { background-color: rgb(174,248,101); border-top: 1px solid darken(rgb(174,248,101), 6%) !important; }
.vjs-rank-cell-7 { background-color: rgb(172,248,102); border-top: 1px solid darken(rgb(172,248,102), 6%) !important; }
.vjs-rank-cell-6 { background-color: rgb(169,248,103); border-top: 1px solid darken(rgb(169,248,103), 6%) !important; }
.vjs-rank-cell-5 { background-color: rgb(167,248,105); border-top: 1px solid darken(rgb(167,248,105), 6%) !important; }
.vjs-rank-cell-4 { background-color: rgb(165,247,106); border-top: 1px solid darken(rgb(165,247,106), 6%) !important; }
.vjs-rank-cell-3 { background-color: rgb(162,247,107); border-top: 1px solid darken(rgb(162,247,107), 6%) !important; }
.vjs-rank-cell-2 { background-color: rgb(160,247,108); border-top: 1px solid darken(rgb(160,247,108), 6%) !important; }
.vjs-rank-cell-1 { background-color: rgb(158,247,109); border-top: 1px solid darken(rgb(158,247,109), 6%) !important; }
.vjs-rank-cell-0 { background-color: rgb(156,247,111); border-top: 1px solid darken(rgb(156,247,111), 6%) !important; }
