/* TEMP PLACEHOLDER FOR CSS
 * ----------------------------------------------------
 * FIXME: Don't keep things in here -- once working,
 * move it out and into the theme builder
 * ----------------------------------------------------
 */

html, body {
  text-rendering:optimizeLegibility !important;
  font-weight: 400;
  /*
  font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  */
}

.app-navbar {
  height: 57px;
}

.pagination {
  margin-bottom: 14px !important;
}

#intercom-container .intercom-launcher-frame,
.intercom-launcher-frame {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

#intercom-container .intercom-launcher {
  display: none !important;
}

.intercom-launcher, .intercom-launcher-close-icon, .intercom-launcher-open-icon {
  display: none !important;
}

.vjs-link {
  cursor: pointer;
}

.vjs-link:hover {
  text-decoration: underline
}

.vjs-avatar[style] {
  height: inherit !important;
}

.vjs-avatar > div {
  width: inherit !important;
  height: inherit !important;
}

.vjs-avatar > div > div[style] {
  background-size: 42px !important;
  background-position: 50% 50% !important;
  width: 42px !important;
  height: 42px !important;
  border-radius: 500px !important;
  margin: auto;
}

.student-search-container ul.dropdown-menu {
  width: 298px;
  box-shadow: 0 1px 13px 0 rgba(0,0,0,0.275);
}

.student-search-container button.rbt-close {
  margin-top: -19px
}

.student-search-container .typeahead-highlight {
  color: #282828
}

.student-search-container .active .typeahead-highlight, .dropdown-item:active .typeahead-highlight {
  color: white
}


.text-clear {
  color: white;
  opacity: 0.0;
}

.table-hover tbody tr:hover {
  background-color: rgba(0,0,0,0.025)
}

.vjs-container span[style*="font-family: 'Pictonic_-en_US'"] {
  font-family: 'Pictonic_-en_US' !important;
  opacity: 0.5 !important;
  font-size: 8px !important;
}

div.jive_dialog.open[style] {
  position: fixed !important;
  box-shadow: 0 0 0 3000px rgba(0,0,0,0.5), 0 3px 40px 1px rgba(0,0,0,0.5) !important;
  z-index: 1030 !important;
}

div.jive_marker.ui-draggable[style] {
  display: none !important;
}

.jive_dialog {
  font-family: 'Roboto' !important;
  font-size: 13px !important;
}

.jive_dialog .dialogHeader {
  background: none !important;
}

.jive_dialog button {
  border-radius: 3px !important;
}

.jive_dialog h2 {
  font-weight: bold !important;
}

button.jive_button.over {
  background: rgba(29, 56, 80, 0.8) !important;
}

.jive_overlay {
  box-shadow: 0 3px 30px 1px rgba(0,0,0,0.2) !important;
  border-color: #ccc !important;
  border-right: 1px solid #ccc;
}

.jive_overlay > div {
  background: #ffffff !important;
  opacity: 0.3;
}

.jive_button_bar {
  background: #ffffff !important;
}

.jive_button_bar.jr_table {
  width: 76px !important;
}

.jive_button_bar > div > button:nth-child(1) {
  display: none;
}

.jive_marker_icon {
  display: none !important;
}

.jive_marker {
  border-left: dashed 1px #ccc !important;
}

.jive_dialog {
  box-shadow: 0 3px 30px 1px rgba(0,0,0,0.2) !important;
}

.jive_form input {
  margin-right: 5px !important;
}

.callBar-enter {
  opacity: 0.01;
}

.callBar-enter.callBar-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.callBar-leave {
  opacity: 1;
}

.callBar-leave.callBar-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.alert-leave {
  transform: translateX(-100%);
  transition: transform 1000ms ease-out;
}

.alert-leave.alert-leave-active {
  opacity: 0.01;
  transition: 500ms;
}

.growl-alert {
  padding: 5px !important;
}

.reminder-item-enter {
  opacity: 0.01;
}

.reminder-item-enter.reminder-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.reminder-item-leave {
  opacity: 0.8;
}

.reminder-item-leave.reminder-item-leave-active {
  opacity: 0.01;
  background-color: whitesmoke;
  transition: opacity 300ms ease-out;
}

.reminder-info {
  word-break: break-all;
  padding-top: 10px;
}

.complete .reminder-info {
  opacity:0.4
}

.reminder-check {
  opacity:0.5;
  transition: 0.4s opacity;
}

.reminder-check:hover {
  opacity: 1;
}

.student-search-container .rbt {
  width: 100%;
  height:100%;
  border-radius: 0px;
}

/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

 .rdt {
  position: relative;
  width:100%;
  border-radius: 0px;
}
.rdt input[type="text"]{
  width: 100%;
  height:100%;
  border-radius: 0px;
}
.rdtPicker {
  bottom: 100%;
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}
